body {
    font-family: sans-serif;
    padding: 20px;
    line-height: 1.6;
}

.destacado {
    background-color: yellow;
    font-weight: bold;
}

.animal {
    color: navy;
}

#mensaje-final {
    display: none;
    color: green;
    font-style: italic;
}

button {
    margin-top: 10px;
    cursor: pointer;
}